// main.styl
@require '../../node_modules/vuetify/src/stylus/settings/_colors'
@require '../../node_modules/vuetify/src/stylus/main'


body
    color: #131426
    background-color: #FFFFFF
    h1, h2, h3, h4, h5, p, pre {
        font-family: 'Quicksand', sans-serif
        url(../assets/fonts/Quicksand-Regular.otf)  
    }
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 1.85em;
        font-weight: normal
    }
    h3 {
        font-size: 1.65em;
    }
    h4 {
        font-size: 1.45em;
        font-weight: normal;
    }
    p {
        font-size: 1.4em;
    }

    pre {
        white-space: pre-wrap;
    }

.white-link {
    color: white;
    text-decoration: none;
}


.toolbar__title {
    font-family: 'Quicksand', sans-serif
    url(../assets/fonts/Quicksand-Regular.otf)
    font-weight: 600;
    font-size: 2em;
}
